{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:@next/next/recommended",
    "prettier"
  ],
  "globals": { "JSX": true },
  "parserOptions": { "project": "./tsconfig.json" },
  "rules": {
    "camelcase": "off",
    "class-methods-use-this": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/alt-text": "off",
    "no-console": ["warn", { "allow": ["error"] }],
    "no-underscore-dangle": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/display-name": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
