@import '../../styles/mixins.scss';

.container {
  @include gradient-bg;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  @media (min-width: 600px) {
    @include glassmorphic;
    padding: 30px;
  }
}
