.button {
  padding: 6px 16px;
  font-weight: 500;
  font-size: 1em;
  height: 24px;
  box-sizing: content-box;
}

.requested {
  font-weight: 600;
  font-size: 0.95em;
}

.friends {
  font-weight: 700;
  font-size: 0.95em;
}
