@import '../styles/mixins.scss';

.container {
  @include animated-bg;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  @include glassmorphic;
  padding: 80px;
}
