@import './custom.scss';
@import './mixins.scss';

// Global css

.navbar {
  @include drop-shadow-lg;
  font-family: $headings-font-family;
  font-weight: 700;
}

.navbar-brand,
.logo {
  font-weight: 800;
  transform: rotate(-4deg);
}

.navbar-brand:after,
.logo:after {
  content: '.';
}

.form-label {
  font-family: $headings-font-family;
  font-weight: 600 !important;
}

.form-control.is-invalid {
  border-width: 1px;
}

.auth-form {
  width: 300px;
}

.auth-logo {
  text-align: center;
}

.auth-button {
  width: 100%;
}

// GLASS CARD STUFF

$glass-card-radius: 15px;

.glass-card {
  @include glassmorphic;
  @include drop-shadow-sm;
  border-radius: $glass-card-radius;
  border-width: 0;
}

.glass-card > .card-header {
  border-top-left-radius: $glass-card-radius;
  border-top-right-radius: $glass-card-radius;
  border-width: 0;
}

.glass-card > .card-footer {
  border-bottom-left-radius: $glass-card-radius;
  border-bottom-right-radius: $glass-card-radius;
  border-width: 0;
}

.gradient-glass-card {
  @extend .glass-card;
  background: linear-gradient(
    253deg,
    rgba(229, 251, 31, 0.4),
    rgba(244, 173, 6, 0.4)
  );
  border-width: 0;
}

.glass-card-form {
  @extend .glass-card;
}

.glass-card-form > .card-body {
  margin: 0;
  padding: 0;
}

.glass-card-textarea {
  border-radius: $glass-card-radius;
  padding-bottom: 100px;
}

.soft-alert {
  // Mostly transparent, for splash page
  @include drop-shadow-sm;
  background: rgba(255, 255, 255, 0.5);
  border-radius: $glass-card-radius;
}
