@import './custom.scss';
@import './mixins.scss';

// Global css

.navbar {
  @include drop-shadow;
  font-family: $headings-font-family;
  font-weight: 700;
}

.navbar-brand,
.logo {
  font-weight: 800;
  transform: rotate(-4deg);
}

.navbar-brand:after,
.logo:after {
  content: '.';
}
