@import './custom.scss';
@import './mixins.scss';

// Global css

.navbar {
  @include drop-shadow;
  font-family: $headings-font-family;
  font-weight: 700;
}

.navbar-brand,
.logo {
  font-weight: 800;
  transform: rotate(-4deg);
}

.navbar-brand:after,
.logo:after {
  content: '.';
}

.soft-alert {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.14);
  border-radius: 15px;
}
